<form method="post" action="/books/update">
  <fieldset>
    <input type="hidden" name="author_id" value="<%=@book.author.id %>" >
    <input type="hidden" name="id" value="<%=@book.id %>">
    <label>Title</label>
    <br>
    <input name="title" value="<%=@book.title %>">
    <br>
    <label>Year Published</label>
    <br>
    <input name="year_published" value="<%=@book.year_published %>">
    <br>
    <br>
    <label>Description</label>
    <br>
    <textarea name="description">
    <%=@book.description %>
    </textarea>
    <br>
    <label>Read?</label>
    <br>
    <input type="radio" name="read" value=true checked= <%= @book.read? ? "checked" : false %> > Yes<br>
    <input type="radio" name="read" value=false checked= <%= @book.read? ? false : "checked" %> > No<br>
    <br>
    <br>
    <input type="submit" value="Edit Book">
  </fieldset>
</form>
